<!doctype html>
<html lang="en">
<style>
  #timeline {
    width: 100%;
    height: 600px;
  }
	#keywords {
		width: 100%;
		height: 400px;
    margin-top: 10px;
	}
	#topjournals {
		width: 100%;
		height: 400px;
		margin-top: 10px;
	}

	#topauthors {
		width: 100%;
		height: 400px;
		max-width: 100%;
		margin-top: 10px;
	}
	body {
		font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  #pyramid {
  width: 100%;
  height: 400px;
  }

  #radial {
  width: 100%;
  height: 400px;
  }

  div.main {
    width: 90%;
    margin-left: 5%
  }

  img.avatar {
    width: 20%;
    float: left;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .biorow{
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    display: table;
  }

  .section{
    color: grey;
    margin-top: 40px;
    margin-bottom: 40px;
    color:#E84A27;
  }
  .rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #13294B;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #E84A27;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #13294B;
  text-shadow: 0 0 5px #E84A27;
}

.question {
  font-size: 100%;
}

	</style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Scholar View</title>
  </head>

  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
  <script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script> 
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
  <script src="https://www.amcharts.com/lib/4/plugins/timeline.js"></script>
  <script src="https://www.amcharts.com/lib/4/plugins/bullets.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>


<!-- Chart code -->
<script>
  am4core.ready(function() {
  
  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end
  
  var chart = am4core.create("timeline", am4plugins_timeline.SerpentineChart);
  chart.curveContainer.padding(100, 20, 50, 20);
  chart.levelCount = 3;
  chart.yAxisRadius = am4core.percent(20);
  chart.yAxisInnerRadius = am4core.percent(2);
  chart.maskBullets = false;
  
  var colorSet = new am4core.ColorSet();
  
  chart.dateFormatter.inputDateFormat = "yyyy-MM-dd HH:mm";
  chart.dateFormatter.dateFormat = "HH";
  
  chart.data = [{
        "category": "",
        "start": "2007",
        "end": "2007",
        "color": colorSet.getIndex(0),
        "text": "B.S. degree in Computer Science, the University of Tripoli",
        "icon": "/static/graduation-hat-and-diploma.svg"
    },
    {
        "category": "",
        "start": "2011",
        "end": "2011",
        "color": colorSet.getIndex(1),
        "text": "M.A. degree in Computer Science, Portland State University",
        "icon": "/static/graduation-hat-and-diploma.svg"
    },
    {
        "category": "",
        "start": "2012",
        "end": "2012",
        "color": colorSet.getIndex(2),
        "text": "Graduate Research Assistance Scholarship, Portland State University",
        "icon": "/static/winner-with-trophy.svg"
    },
    {
        "category": "",
        "start": "2013",
        "end": "2013",
        "color": colorSet.getIndex(3),
        "text": "International Student Academic Stand Out from Golden Key from International Honor Society",
        "icon": "/static/winner-with-trophy.svg"
    },
    {
        "category": "",
        "start": "2013",
        "end": "2013",
        "color": colorSet.getIndex(4),
        "text": "International Academic Achievement Award, International Honor Society",
        "icon": "/static/winner-with-trophy.svg"
    },
    {
        "category": "",
        "start": "2015",
        "end": "2015",
        "color": colorSet.getIndex(5),
        "text": "President’s Award for University Service, Portland State University.",
        "icon": "/static/winner-with-trophy.svg"
    },
    {
        "category": "",
        "start": "2016",
        "end": "2016",
        "color": colorSet.getIndex(6),
        "text": "Class of 2016 student speaker at PSU commencement ceremony, Portland State University",
        "icon": "/static/winner-with-trophy.svg"
    },
    {
        "category": "",
        "start": "2016",
        "end": "2016",
        "color": colorSet.getIndex(7),
        "text": "Ph.D. degree in Computer Science, Portland State University",
        "icon": "/static/graduation-hat-and-diploma.svg"
    },
    {
        "category": "",
        "start": "2018-07",
        "end": "2018-07",
        "color": colorSet.getIndex(8),
        "text": "Postdoctoral Research Fellow, University of Pennsylvania, Computer and Information Science",
        "icon": "/static/graduation-hat-and-diploma.svg"
    },
    {
        "category": "",
        "start": "2019",
        "end": "2019",
        "color": colorSet.getIndex(9),
        "text": "U of I campus-wide list of “Teachers Ranked as Excellent by their Students” for Fall, Spring, and Summer of 2019 semesters.",
        "icon": "/static/winner-with-trophy.svg"
    }];
  
  chart.fontSize = 10;
  chart.tooltipContainer.fontSize = 10;
  
  var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
  categoryAxis.dataFields.category = "category";
  categoryAxis.renderer.grid.template.disabled = true;
  categoryAxis.renderer.labels.template.paddingRight = 25;
  categoryAxis.renderer.minGridDistance = 10;
  
  var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
  dateAxis.renderer.minGridDistance = 70;
  dateAxis.baseInterval = { count: 30, timeUnit: "minute" };
  dateAxis.renderer.tooltipLocation = 0;
  dateAxis.renderer.line.strokeDasharray = "1,4";
  dateAxis.renderer.line.strokeOpacity = 0.5;
  dateAxis.tooltip.background.fillOpacity = 0.2;
  dateAxis.tooltip.background.cornerRadius = 5;
  dateAxis.tooltip.label.fill = new am4core.InterfaceColorSet().getFor("alternativeBackground");
  dateAxis.tooltip.label.paddingTop = 7;
  dateAxis.endLocation = 0;
  dateAxis.startLocation = -0.5;
  
  var labelTemplate = dateAxis.renderer.labels.template;
  labelTemplate.verticalCenter = "middle";
  labelTemplate.fillOpacity = 0.4;
  labelTemplate.background.fill = new am4core.InterfaceColorSet().getFor("background");
  labelTemplate.background.fillOpacity = 1;
  labelTemplate.padding(7, 7, 7, 7);
  
  var series = chart.series.push(new am4plugins_timeline.CurveColumnSeries());
  series.columns.template.height = am4core.percent(15);
  
  series.dataFields.openDateX = "start";
  series.dataFields.dateX = "end";
  series.dataFields.categoryY = "category";
  series.baseAxis = categoryAxis;
  series.columns.template.propertyFields.fill = "color"; // get color from data
  series.columns.template.propertyFields.stroke = "color";
  series.columns.template.strokeOpacity = 0;
  series.columns.template.fillOpacity = 0.6;
  
  var imageBullet1 = series.bullets.push(new am4plugins_bullets.PinBullet());
  imageBullet1.locationX = 1;
  imageBullet1.propertyFields.stroke = "color";
  imageBullet1.background.propertyFields.fill = "color";
  imageBullet1.image = new am4core.Image();
  imageBullet1.image.propertyFields.href = "icon";
  imageBullet1.image.scale = 0.5;
  imageBullet1.circle.radius = am4core.percent(100);
  imageBullet1.dy = -5;
  
  
  var textBullet = series.bullets.push(new am4charts.LabelBullet());
  textBullet.label.propertyFields.text = "text";
  textBullet.disabled = true;
  textBullet.propertyFields.disabled = "textDisabled";
  textBullet.label.strokeOpacity = 0;
  textBullet.locationX = 1;
  textBullet.dy = - 100;
  textBullet.label.textAlign = "middle";
  
  chart.scrollbarX = new am4core.Scrollbar();
  chart.scrollbarX.align = "center"
  chart.scrollbarX.width = am4core.percent(75);
  chart.scrollbarX.opacity = 0.5;
  
  var cursor = new am4plugins_timeline.CurveCursor();
  chart.cursor = cursor;
  cursor.xAxis = dateAxis;
  cursor.yAxis = categoryAxis;
  cursor.lineY.disabled = true;
  cursor.lineX.strokeDasharray = "1,4";
  cursor.lineX.strokeOpacity = 1;
  
  dateAxis.renderer.tooltipLocation2 = 0;
  categoryAxis.cursorTooltipEnabled = false;
  
  
  var label = chart.createChild(am4core.Label);
  label.text = "";
  label.isMeasured = false;
  label.y = am4core.percent(40);
  label.x = am4core.percent(50);
  label.horizontalCenter = "middle";
  label.fontSize = 20;
  
  }); // end am4core.ready()
  </script>
    



  <!-- Keywords Chart code -->
  <script>
    am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    var chart = am4core.create("keywords", am4plugins_wordCloud.WordCloud);
    chart.fontFamily = "Courier New";

    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.randomness = 0.1;
    series.rotationThreshold = 0.5;

    series.data = JSON.parse('{{data1 | tojson}}');

    series.dataFields.word = "tag";
    series.dataFields.value = "count";

    series.heatRules.push({
      "target": series.labels.template,
      "property": "fill",
      "min": am4core.color("#0000CC"),
      "max": am4core.color("#CC00CC"),
      "dataField": "value"
    });

    series.labels.template.url = "https://stackoverflow.com/questions/tagged/{word}";
    series.labels.template.urlTarget = "_blank";
    series.labels.template.tooltipText = "{word}: {value}";

    var hoverState = series.labels.template.states.create("hover");
    hoverState.properties.fill = am4core.color("#FF0000");

    var subtitle = chart.titles.create();
    // subtitle.text = "(click to open)";

    var title = chart.titles.create();
    //title.text = "Most Popular Tags @ StackOverflow";
    title.fontSize = 20;
    title.fontWeight = "800";

    }); // end am4core.ready()
  </script>
    
  <!-- Top Journals Chart code -->
  <script>
  am4core.ready(function() {

  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end

  var chart = am4core.create("topjournals", am4charts.PieChart);
  chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

  chart.data = JSON.parse('{{data2 | tojson}}');

  chart.radius = am4core.percent(80);
  chart.innerRadius = am4core.percent(40);
  chart.startAngle = 180;
  chart.endAngle = 360;  

  var series = chart.series.push(new am4charts.PieSeries());
  series.dataFields.value = "numPapers";
  series.dataFields.category = "publisherName";

  series.slices.template.cornerRadius = 10;
  series.slices.template.innerCornerRadius = 7;
  series.slices.template.draggable = true;
  series.slices.template.inert = true;
  series.alignLabels = false;

  series.ticks.template.disabled = true;
  series.labels.template.text = "{value.percent.formatNumber('#.0')}%";
  series.labels.template.radius = am4core.percent(-40);
  series.labels.template.fill = am4core.color("white");
  series.labels.template.relativeRotation = 90;

  series.hiddenState.properties.startAngle = 90;
  series.hiddenState.properties.endAngle = 90;

  chart.legend = new am4charts.Legend();
  chart.legend.maxHeight = 120;
  chart.legend.scrollable = true;
  chart.legend.position = "bottom";
  }); // end am4core.ready()
  </script>


  <!-- Top Authors Chart code -->
  <script>

  am4core.ready(function() {

  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end

  var chart = am4core.create("topauthors", am4plugins_forceDirected.ForceDirectedTree);
  var networkSeries = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())

  networkSeries.data = JSON.parse('{{data3 | tojson}}');
  
  networkSeries.dataFields.value = "numCitations";
  networkSeries.dataFields.name = "author";
  networkSeries.dataFields.children = "coauthors";
  networkSeries.nodes.template.tooltipText = "{author}: {numCitations}";
  networkSeries.nodes.template.fillOpacity = 1;

  networkSeries.nodes.template.label.text = "{initials}"
  networkSeries.fontSize = 20;

  networkSeries.minRadius = 20
  networkSeries.maxRadius = 50

  networkSeries.links.template.strokeWidth = 1;
  chart.legend = new am4charts.Legend();
  chart.legend.maxHeight = 100;
  chart.legend.maxWidth = 50;
  chart.legend.scrollable = true;
  chart.legend.position = "down";


  var hoverState = networkSeries.links.template.states.create("hover");
  hoverState.properties.strokeWidth = 3;
  hoverState.properties.strokeOpacity = 1;

  networkSeries.nodes.template.events.on("over", function(event) {
    event.target.dataItem.childLinks.each(function(link) {
      link.isHover = true;
    })
    if (event.target.dataItem.parentLink) {
      event.target.dataItem.parentLink.isHover = true;
    }

  })

  networkSeries.nodes.template.events.on("out", function(event) {
    event.target.dataItem.childLinks.each(function(link) {
      link.isHover = false;
    })
    if (event.target.dataItem.parentLink) {
      event.target.dataItem.parentLink.isHover = false;
    }
  })

  }); // end am4core.ready()
</script>

<!-- Publication Structure code -->
<script>
  am4core.ready(function() {
  
  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end
  
  var chart = am4core.create("pyramid", am4charts.SlicedChart);
  chart.paddingBottom = 30;
  chart.data = JSON.parse('{{data4 | tojson}}');
  
  var series = chart.series.push(new am4charts.PyramidSeries());
  series.dataFields.value = "value";
  series.dataFields.category = "name";
  series.alignLabels = true;
  series.valueIs = "height";
  
  }); // end am4core.ready()
</script>

<!-- Chart code -->
<script>
  am4core.ready(function() {
  
  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end
  
  var chart = am4core.create("radial", am4charts.RadarChart);
  chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
  
  var packet = JSON.parse('{{data5 | tojson}}');
  chart.data = packet["data"];
  //chart.padding(20, 20, 20, 20);
  chart.colors.step = 4;
  
  var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
  categoryAxis.dataFields.category = "category";
  categoryAxis.renderer.labels.template.location = 0.5;
  categoryAxis.renderer.labels.template.horizontalCenter = "right";
  categoryAxis.renderer.grid.template.location = 0;
  categoryAxis.renderer.tooltipLocation = 0.5;
  categoryAxis.renderer.grid.template.strokeOpacity = 0.07;
  categoryAxis.renderer.axisFills.template.disabled = true;
  categoryAxis.interactionsEnabled = false;
  categoryAxis.renderer.minGridDistance = 10;
  
  var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
  valueAxis.tooltip.disabled = true;
  valueAxis.renderer.labels.template.horizontalCenter = "left";
  valueAxis.min = 0;
  valueAxis.max = packet["maxNum"];
  valueAxis.strictMinMax = true;
  valueAxis.renderer.maxLabelPosition = 0.99;
  valueAxis.renderer.minGridDistance = 10;
  valueAxis.renderer.grid.template.strokeOpacity = 0.07;
  valueAxis.renderer.axisFills.template.disabled = true;
  valueAxis.interactionsEnabled = false;
  
  var series1 = chart.series.push(new am4charts.RadarColumnSeries());
  series1.columns.template.tooltipText = "{name}: {valueX.value}";
  series1.name = "Top 10%";
  series1.dataFields.categoryY = "category";
  series1.dataFields.valueX = "top10";
  series1.stacked = true;
  
  var series2 = chart.series.push(new am4charts.RadarColumnSeries());
  series2.columns.template.tooltipText = "{name}: {valueX.value}";
  series2.name = "Top 10-30%";
  series2.dataFields.categoryY = "category";
  series2.dataFields.valueX = "next20";
  series2.stacked = true;
  
  var series3 = chart.series.push(new am4charts.RadarColumnSeries());
  series3.columns.template.tooltipText = "{name}: {valueX.value}";
  series3.name = "Others";
  series3.dataFields.categoryY = "category";
  series3.dataFields.valueX = "next70";
  series3.stacked = true;
  
  
  chart.seriesContainer.zIndex = -1;
  
  //chart.scrollbarX = new am4core.Scrollbar();
  //chart.scrollbarX.exportable = false;
  //chart.scrollbarY = new am4core.Scrollbar();
  //chart.scrollbarY.exportable = false;
  
  chart.cursor = new am4charts.RadarCursor();
  chart.cursor.lineY.disabled = true;
  
  }); // end am4core.ready()
</script>


<script>
  am4core.ready(function() {
  
  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end
  
  // Create chart instance
  var chart = am4core.create("barchart", am4charts.XYChart);
  
  // Add data
  chart.data = [{
    "year": "2016",
    "europe": 2.5,
    "namerica": 2.5,
    "asia": 2.1,
    "lamerica": 0.3,
    "meast": 0.2,
    "africa": 0.1
  }, {
    "year": "2017",
    "europe": 2.6,
    "namerica": 2.7,
    "asia": 2.2,
    "lamerica": 0.3,
    "meast": 0.3,
    "africa": 0.1
  }, {
    "year": "2018",
    "europe": 2.8,
    "namerica": 2.9,
    "asia": 2.4,
    "lamerica": 0.3,
    "meast": 0.3,
    "africa": 0.1
  }];
  
  chart.legend = new am4charts.Legend();
  chart.legend.position = "right";
  
  // Create axes
  var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
  categoryAxis.dataFields.category = "year";
  categoryAxis.renderer.grid.template.opacity = 0;
  
  var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
  valueAxis.min = 0;
  valueAxis.renderer.grid.template.opacity = 0;
  valueAxis.renderer.ticks.template.strokeOpacity = 0.5;
  valueAxis.renderer.ticks.template.stroke = am4core.color("#495C43");
  valueAxis.renderer.ticks.template.length = 10;
  valueAxis.renderer.line.strokeOpacity = 0.5;
  valueAxis.renderer.baseGrid.disabled = true;
  valueAxis.renderer.minGridDistance = 40;
  
  // Create series
  function createSeries(field, name) {
    var series = chart.series.push(new am4charts.ColumnSeries());
    series.dataFields.valueX = field;
    series.dataFields.categoryY = "year";
    series.stacked = true;
    series.name = name;
    
    var labelBullet = series.bullets.push(new am4charts.LabelBullet());
    labelBullet.locationX = 0.5;
    labelBullet.label.text = "{valueX}";
    labelBullet.label.fill = am4core.color("#fff");
  }
  
  createSeries("europe", "Europe");
  createSeries("namerica", "North America");
  createSeries("asia", "Asia");
  createSeries("lamerica", "Latin America");
  createSeries("meast", "Middle East");
  createSeries("africa", "Africa");
  
  }); // end am4core.ready()
</script>


  <body>
    <nav class="navbar sticky-top navbar-expand-lg nav-light" style="background-color:#13294B;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" style="color:#E84A27;">Scholarview</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/home" style="color:#E84A27;">Home<span class="sr-only">(current)</span></a>
          </li>
          <ul class="nav nav-pills">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#E84A27;">Info</a>
              <div class="dropdown-menu" style="background-color:#13294B;">
                <a class="dropdown-item" href="#biography" style="color:#E84A27;">Biography</a>
                <a class="dropdown-item disabled" href="#ed">Education</a>
                <a class="dropdown-item disabled" href="#ri">Research Interest</a>
                <a class="dropdown-item disabled" href="#te">Teaching</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#tl" style="color:#E84A27;">Timeline</a>
                <a class="dropdown-item" href="#visualization" style="color:#E84A27;">Visualization</a>
                <a class="dropdown-item" href="#evaluation" style="color:#E84A27;">Evaluation</a>
              </div>
            </li>
          </ul>
        </ul>
        <form action="/search" class="form-inline my-2 my-lg-0" method="post">
          <input class="form-control mr-sm-2" type="search" name="sname" placeholder="Search Scholar" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit" value="search_from_user" name="btn" style="color:white; background-color: #E84A27; border-color:#E84A27;">Search</button>
        </form>
      </div>
    </nav>

    <div class="main">
      <h1 id="biography" class="section"> BIOGRAPHY </h1>
      <div class="biorow">
        <img src="/static/img_avatar.png" class="avatar" alt="">
        <div id="bio" class="overflow-auto" style="color:#E84A27; padding: 25px">
        </div>
      </div>
      <div class="card-group biorow">
        <div class="card">
          <div class="card-header" style="background-color: #13294B; color:#E84A27;">
            Education
          </div>
          <div class="card-body" id="ed">
            <p id="bs" class="card-text" style="color:#E84A27;"></p>
            <p id="ms" class="card-text" style="color:#E84A27;"></p>
            <p id="phd" class="card-text" style="color:#E84A27;"></p>
          </div>
        </div>
        <div class="card">
          <div class="card-header" style="background-color: #13294B; color:#E84A27;">
            Research Interest
          </div>
          <div class="card-body">
            <p id="ri1" class="card-text" style="color:#E84A27;"></p>
            <p id="ri2" class="card-text" style="color:#E84A27;"></p>
            <p id="ri3" class="card-text" style="color:#E84A27;"></p>
          </div>
        </div>
        <div class="card">
          <div class="card-header" style="background-color: #13294B; color:#E84A27;">
            Teaching
          </div>
          <div class="card-body">
            <p id="t1" class="card-text" style="color:#E84A27;"></p>
            <p id="t2" class="card-text" style="color:#E84A27;"></p>
            <p id="t3" class="card-text" style="color:#E84A27;"></p>
          </div>
        </div>
    </div>
    <script>
      var basic_info = JSON.parse('{{info | tojson}}');
      document.getElementById("bio").innerHTML = basic_info["biography"];
      document.getElementById("bs").innerHTML = basic_info["bsSchool"]+ ", " +basic_info["bsYear"];
      document.getElementById("ms").innerHTML = basic_info["msSchool"]+ ", " +basic_info["msYear"];
      document.getElementById("phd").innerHTML = basic_info["phdSchool"]+ ", " +basic_info["phdYear"];
      document.getElementById("ri1").innerHTML = basic_info["interest1"];
      document.getElementById("ri2").innerHTML = basic_info["interest2"];
      document.getElementById("ri3").innerHTML = basic_info["interest3"];
      document.getElementById("t1").innerHTML = basic_info["teaching1"];
      document.getElementById("t2").innerHTML = basic_info["teaching2"];
      document.getElementById("t3").innerHTML = basic_info["teaching3"];
    </script>


    <h1 id="tl" class="section"> TIMELINE </h1>
    <div id="timeline" class="row"></div>
    <h1 id="visualization" class="section"> VISUALIZATION </h1>
    <div class="container">
      <div class="row">
        <div id="keywords" class="col"></div>
        <div id="topjournals" class="col"></div>
        <div id="topauthors" class="col"></div>
      </div>
      <div class="row">
        <div id="pyramid" class="col"></div>
        <div id="radial" class="col"></div>
        <div id="barchart" class="col"></div>
      </div>


  <h1 id="evaluation" class="section"> EVALUATION </h1>


  <div hidden id='course-eval'>
    <form  action='/search' method='post'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col'>
            <h4 class='question' style="color:#E84A27;">1. Rate the quality of the lectures given by the instructor.</h4>
          </div>
          <div class='col'>
            <div class='rating'>
              <label>
                <input type='radio' name='stars1' value='1' />
                <span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars1' value='2' />
                <span class='icon'>★</span><span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars1' value='3' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>   
              </label>
              <label>
                <input type='radio' name='stars1' value='4' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars1' value='5' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <br />

      
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col'>
            <h4 class='question' style="color:#E84A27;">2. Rate the quality of the homework assignments.</h4>
          </div>
          <div class='col'>
            <div class='rating'>
              <label>
                <input type='radio' name='stars2' value='1' />
                <span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars2' value='2' />
                <span class='icon'>★</span><span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars2' value='3' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>   
              </label>
              <label>
                <input type='radio' name='stars2' value='4' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars2' value='5' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <br />


      <div class='container'>
        <div class='row align-items-center'>
          <div class='col'>
            <h4 class='question' style="color:#E84A27;">3. Rate the difficulty of the exams.</h4>
          </div>
          <div class='col'>
            <div class='rating'>
              <label>
                <input type='radio' name='stars3' value='1' />
                <span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars3' value='2' />
                <span class='icon'>★</span><span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars3' value='3' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>   
              </label>
              <label>
                <input type='radio' name='stars3' value='4' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars3' value='5' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <br />


      <div class='container'>
        <div class='row align-items-center'>
          <div class='col'>
            <h4 class='question' style="color:#E84A27;">4. The course projects have helped me learn useful skills.</h4>
          </div>
          <div class='col'>
            <div class='rating'>
              <label>
                <input type='radio' name='stars4' value='1' />
                <span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars4' value='2' />
                <span class='icon'>★</span><span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars4' value='3' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>   
              </label>
              <label>
                <input type='radio' name='stars4' value='4' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars4' value='5' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class='container'>
        <div class='row align-items-center'>
          <div class='col'>
            <h4 class='question' style="color:#E84A27;">5. The instructor's office hours had an atmosphere conducive to learn.</h4>
          </div>
          <div class='col'>
            <div class='rating'>
              <label>
                <input type='radio' name='stars5' value='1' />
                <span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars5' value='2' />
                <span class='icon'>★</span><span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars5' value='3' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>   
              </label>
              <label>
                <input type='radio' name='stars5' value='4' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>
              </label>
              <label>
                <input type='radio' name='stars5' value='5' />
                <span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span><span class='icon'>★</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <br />
      <button type='submit' value='submit_votes' name='btn'> submit </button>
    </form>
  </div>




  <div class='accordion' id='accordionExample' >

    <div id='card1' class='card'>
      <div class='card-header' id='headingOne' style="background-color:#13294B"> 
        <h2 class='mb-0'>
          <button style="color:#E84A27;" id='group1' class='btn btn-link' type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne'>
            Collapsible Group Item #1
          </button>
        </h2>
      </div>
      <div id='collapseOne' class='collapse show' aria-labelledby='headingOne' data-parent='#accordionExample'>
        <div id='group1-eval' class='card-body'>
      
        </div>
      </div>
    </div>


    <div id='card2' class='card'>
      <div class='card-header' id='headingTwo' style="background-color:#13294B"> 
        <h2 class='mb-0'>
          <button style="color:#E84A27;" id='group2' class='btn btn-link collapsed' type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo' >
            Collapsible Group Item #2
          </button>
        </h2>
      </div>
      <div id='collapseTwo' class='collapse' aria-labelledby='headingTwo' data-parent='#accordionExample'>
        <div id='group2-eval' class='card-body'>
          
        </div>
      </div>
    </div>
    <div id="card3" class='card'>
      <div class='card-header' id='headingThree' style="background-color:#13294B">
        <h2 class='mb-0'>
          <button style="color:#E84A27;" id='group3' class='btn btn-link collapsed' type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree'>
            Collapsible Group Item #3
          </button>
        </h2>
      </div>
      <div id='collapseThree' class='collapse' aria-labelledby='headingThree' data-parent='#accordionExample'>
        <div id='group3-eval' class='card-body'>
        </div>
      </div>
    </div>
  </div>



  <script>
    var course1 = basic_info["teaching1"];
    var course2 = basic_info["teaching2"];
    var course3 = basic_info["teaching3"];
    var courses = [course1, course2, course3];
    var evalHTML = document.getElementById('course-eval').innerHTML;

    if (courses[0] == null) {
    }
    else {
      for (i=0; i<courses.length; i++){
        if (courses[i] != null){
          console.log(courses[i]);
          document.getElementById('group'+(i+1)).innerHTML = courses[i];
          var courseEval = document.getElementById('course-eval').innerHTML;
          document.getElementById('group'+(i+1)+'-eval').innerHTML = courseEval;
        }
        else {
          document.getElementById('card'+(i+1)).remove();
        }
      }
      
    }

    
  </script>


  <br/><br/>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>